.addParticipantsContainer,
.addParticipantsForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 2.4rem;
  margin: 0;
  padding: 0.5rem;
  font-weight: bolder;
}
.displayParticipant {
  font-size: 0.5rem;
  font-weight: 200;
}
.participantInput {
  resize: none;
  width: auto;
  margin: 0.5rem;
  height: 2rem;
  padding: 0.8rem;
  border-radius: var(--border-radius);
  overflow-y: auto;
  outline: none;
  border: none;
}
.saveParticipant {
  font-size: 0.5rem;
  margin: 0.3rem;
  padding: 0.3rem;
  color: white;
}
