.createRoomFormContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: stretch;
  overflow-x: auto;
}

.title {
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  padding: 0.5rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.goBack,
.submit {
  font-size: 1rem;
  background-color: white;
  color: var(--core-theme-color);
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  width: 40%;
}

.goBack:hover,
.submit:hover {
  box-shadow: 2px 2px 4px var(--shadow-color);
}
