.messagesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  width: 70%;
  height: 72%;
  margin: 0;
  padding: 0.5rem 1rem;
  list-style: none;
  align-self: top;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 0.5px solid var(--shadow-color);
}

.messageContainer,
.userMessageContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  max-width: 40%;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 10px var(--shadow-color), 3px 3px 6px var(--shadow-color);
}

.userMessageContainer {
  align-self: flex-end;
}
.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
  color: var(--core-theme-color);
  margin-bottom: 0.5rem;
}
.messageText {
  font-size: 0.9rem;
}
.messageCreated {
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.6rem;
}
