.chatRoomContainer {
  display: flex;
  width: 1000%;
  min-height: 70vh;
  max-width: 100%;
  overflow-y: auto;
}
.chatNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  border-right: 0.5px solid lightgray;
}
.roomArea {
  display: flex;
  flex-direction: column;
  height: 100%;
}
