.chatRoomContainer {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  width: 90%;
  height: 90vh;
}
.chatRoomsNav {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%;
  width: 30%;
  border-right: 0.8px solid lightgray;
  scroll-behavior: auto;
  overflow: auto;
  color: white;
  background-color: var(--core-theme-color);
}
.chatArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem 1rem;
  overflow: auto;
}
