.chatRoomContainer {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  width: 90%;
  height: 90vh;
}
.chatRoomsNav {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0;
  height: 100%;
  width: 30%;
  overflow: auto;
  scrollbar-width: thin;
  color: var(--compliment-color);
  background-color: var(--core-theme-color);
}
.chatArea {
  display: flex;
  width: 70%;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem 1rem;
  overflow: auto;
  scrollbar-width: thin;
}
