.headerComponentContainer {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: white;
  box-shadow: 1px 5px 10px lightgrey, 0px 0px 5px lightgray;
}
.titleIcon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  margin: 0px;
  outline: none;
}
.logo {
  color: var(--core-theme-color);
  margin: 0 1rem;
  font-size: 3rem;
}
.title {
  color: var(--core-theme-color);
}

.userLogInOutArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin-right: 1rem;
  padding-right: 1rem;
  outline: none;
}

.signInButton {
  border-radius: var(--border-radius);
  height: 80%;
  max-height: 80%;
  background-color: white;
  border: 1px solid var(--core-theme-color);
  padding: 10px 12px;
  cursor: pointer;
  color: var(--core-theme-color);
  margin: 0 10px;
  opacity: 1;
  text-decoration: none;
  outline: none;
}

.signUpButton {
  border-radius: var(--border-radius);
  height: 80%;
  max-height: 80%;
  background-color: var(--core-theme-color);
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  opacity: 1;
  outline: none;
}
.usernameHeader {
  font-weight: 500;
  font-size: 1rem;
  outline: none;
}
.signInButton:hover,
.signUpButton:hover {
  opacity: 0.6;
  box-shadow: 1px 2px 1px var(--shadow-color);
}

@media screen and (max-width: 650px) {
  .logo {
    font-size: 2rem;
  }
  .userLogInOutArea {
    font-size: 0.7rem;
  }
  .title {
    font-size: 1rem;
  }
}
