.signUpContainer {
  display: flex;
  width: 50%;
  height: 90%;
  flex-direction: column;
  align-self: center;
  border-radius: var(--border-radius);
  border: 1px solid lightgray;
  padding: 8px;
}
.heading {
  align-self: center;
  color: var(--core-theme-color);
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
}
.input {
  width: 80%;
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid lightgray;
  padding: 8px;
}
.submit {
  align-self: center;
  width: 50%;
  height: 80%;
  max-height: 80%;

  color: white;
  background-color: var(--core-theme-color);

  border-radius: var(--border-radius);
  border: none;

  cursor: pointer;

  margin: 8px;
  padding: 8px;

  opacity: 1;
  z-index: 2;

  text-decoration: none;
}
.submit:hover {
  opacity: 0.6;
  box-shadow: 1px 2px 1px var(--shadow-color);
}
