.signInContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-self: center;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 3px var(--shadow-color), 1px 1px 3px var(--shadow-color);
  padding: 1rem;
}
.heading {
  align-self: center;
  color: var(--core-theme-color);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 5px;
}
.input {
  width: 100%;
  outline: none;
  border-radius: var(--border-radius);
  border: 1px solid lightgray;
  padding: 8px;
}
.submit {
  align-self: center;
  width: 50%;
  height: 100%;
  max-height: 80%;

  background-color: white;
  color: var(--core-theme-color);

  border-radius: var(--border-radius);
  border: 1px solid var(--core-theme-color);

  cursor: pointer;

  outline: none;

  margin: 1rem;
  padding: 8px;

  opacity: 1;

  text-decoration: none;
}
.submit:hover {
  opacity: 0.6;
  box-shadow: 1px 2px 1px var(--shadow-color);
}
@media screen and (max-width: 650px) {
  .submit {
    font-size: 0.7rem;
  }
}
