.app {
  width: 98vw;
  height: 98vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: 0px;
  width: 100%;
}
