.app {
  max-width: 90vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.scrollableArea {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
  max-width: 100%;
}
